@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
   

}

.header{
    background: #fff;
    text-align: center;
    padding: 20px;
    background: gray;
    border-bottom:4px solid orange;
}

.header h3{
    color:#fff;
    padding: 5px;
    font-weight: bold;
}
.layerOne{
    width: 100%;
    height: 100vh;
    background: url('/image/layoerOne.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.layerOne .box{
    width: 70%;
    height: auto;
    padding: 5em;
    opacity: 0.8;
    background: #fff;
    margin: 3em;
    color: #000;
    position: absolute;
    border-radius:15px 0px 15px 0px;
    box-shadow: 5px 5px 5px #999;
}

.layerOne .box h2{
    font-size: 4em;
    text-transform: uppercase;
    color: orange;
}

.layerOne .box h3{
    font-size: 1em;
    text-transform: uppercase;
    color: #000;
    opacity: 0.7;
    color:#000;
}


.layerTwo{
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: space-between;

}

.layerTwo .imagem{

    background: url('/image/layertwo.png') no-repeat 90% 90%;
    background-size: cover;
}



.layerTwo .titulo{
    width: 40%;
    border-radius:10px;
    background:#fff;
    opacity: 0.7;
    color: #999;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
  
}

.layerTwo .titulo2{
    width: 100%;
    background: url('/image/layertwo.png') no-repeat 90% 90%;
    background-size: cover;
}

.layerTwo .titulo li{
    list-style: none;
    padding: 10px;
}

.layerTwo .titulo li{
    font-size: 1.5em;
    font-weight: bold;
}

.layerTwo h3{
    font-size: 3em;
}

.layerThree{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.layerThree .blocoOne{
    width: 100%;
    background: url('/image/roubado.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.layerThree .blocoTwo{
    width: 100%;
    padding: 3em;
    text-align: center;
}

.layerThree .blocoTwo span{
    font-size:1.2em;
    color:orange;
}

.layerfour{
    width: 100%;
    height: 100vh;
    background: #333366;
    color:#fff;
    display: block;
    justify-content: space-between;
}

.layerfour .blocoUm h3{
    padding-top: 3em;
    text-align: center;
    font-size: 2em;
    color:orange;;
}

.layerfour .blocoDois ul{
    padding-top: 20px;
}

.layerfour .blocoDois li{
    text-align: center;
    font-size: 2em;
    color:#fff;
    line-height: 1.5em;
}

.layerfour .blocoDois i{
    color:greenyellow;
}

.layerFive{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.layerFive .blocoimg{
    width: 100%;
    background: url('/image/assistencia.png') no-repeat 50% 50%;
    background-size: cover;
}

.layerFive .bloco{
    padding: 20px;
}

.layerFive .bloco ul{
    padding: 20px;
}

.layerFive .bloco li{
    list-style: none;
    font-size: 1.2em;
}

.layerSix{
    width: 100%;
    height:auto;
    background: orange;
    color:#fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;;
}

.layerSix .video{
    width: 100%;
    height: auto;
}

.layerSeven{
    width: 100%;
    height: 100vh;
    background: #fff;
   
}

.layerSeven h3{
    padding-top: 2em;
    text-align: center;
    color:orange;
   
}

.layerSeven .sec{
    display: flex;
    justify-content: space-between;
   
}

.layerSeven .sec h3{
    color:#999;  
}

.layerSeven .sec .bloco {
   border:1px solid #ccc;
   border-radius:10px;
   margin-left: 10px;
}

.layerSeven .sec .bloco p{
    padding: 1em;
 }

.layerSeven .sec .bloco .imgMarcio{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: url('/image/marcio.jpg') no-repeat 50% 50%;
    background-size: cover;
    margin: 0 auto; 
    margin-top: 15px; 
}

.layerSeven .sec .bloco .imgPedro{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: url('/image/pedro.jpg') no-repeat 50% 50%;
    background-size: cover;
    margin: 0 auto; 
    margin-top: 15px; 
}

.layerSeven .sec .bloco .imgWaldir{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: url('/image/waldir.jpg') no-repeat 50% 50%;
    background-size: cover;
    margin: 0 auto; 
    margin-top: 15px; 
}

.layerEight{
    width: 100%;
    height: auto;
    background:#333366;
    color:#fff;
    text-align: center;

}

.layerEight h3{
    text-align: center;
    padding-top: 2em;
    color:#fff;
    font-weight: bold;

}

.layerEight .bloco{
    display: flex;
    justify-content: space-between;
}

.layerEight .bloco .box{
    background:#fff;
    color:#999;
    border-radius: 10px;
    padding: 3em;
    border:1px solid #ccc;
    margin-left: 1em;;
    margin: 2em;
}

.layerEight .bloco .box p{
    color:#999;
}

.layerEight .bloco .box span{
    color:rgb(196, 10, 10);
    text-decoration: line-through;

}

.layerEight .bloco .box button{
    color:#fff;
    background: green;
    margin: 2em 1.5em;
    padding: 2em;
    border-radius:15px;
    border:none;
    cursor:pointer;
    transition: 0.5s;

}

.layerEight .bloco .box button:hover{
    color:green;
    background: #fff;
    border:2px solid green;
}

.layerEight button{
    color:#fff;
    background: green;
    margin: 2em 1.5em;
    padding: 2em;
    border-radius:15px;
    border:none;
    cursor:pointer;
    transition: 0.5s;

}

.layerEight  button:hover{
    color:green;
    background: #fff;
    border:2px solid green;
}

footer{
    background: #000;
    text-align: center;
    color:#fff;
    font-size: .7em;
    padding: 2em;
}

@media(max-width: 786px) {
        body{
            background: #fff;
        }
        .layerOne .box h2{
            font-size: 1.75em;
            text-transform: uppercase;
            color: orange;
        }
        .layerOne .box h3{
            font-size: .75em;
            text-transform: uppercase;
            color: #000;
        }
        .layerThree{
            width: 100%;
            height: auto;
            background: #fff;
            display: block;
            
        }
        .layerThree .blocoOne{
            width: 100%;
            height: 50vh;
            background: url('/image/roubado.jpg') no-repeat 50% 50%;
            background-size: cover;
        }
        
        .layerThree .blocoTwo{
            width: 100%;
            padding-top: 3em;
            text-align: center;
        }

        .layerfour{
            width: 100%;
            height: auto;
            background: #333366;
            color:#fff;
            display: block;
            justify-content: space-between;
            padding-bottom: 3em;;
            padding-top: 3em;;
        }
        
        .layerfour .blocoUm h3{
            padding-top: 15px;
            text-align: center;
            font-size: 1.2em;
            color:orange;;
        }
        
        .layerfour .blocoDois ul{
            padding-top: 20px;
        }
        
        .layerfour .blocoDois li{
            text-align: center;
            font-size: 1em;
            color:#fff;
            line-height: 1.5em;
            margin-bottom: 1em;;
        }

        .layerSix{
            width: 100%;
            height:auto;
            background: orange;
            color:#fff;
            display: block;
            justify-content: space-between;
            padding: 20px;;
        }
        
        .layerSix .video{
            width: 100%;
            height: auto;
        }

        .layerSeven{
            width: 100%;
            height: auto;
            background: #fff;
           
        }
        
        .layerSeven .sec{
            display: block;
            justify-content: space-between;
           
        }

        .layerSeven .sec .bloco {
            border:1px solid #ccc;
            border-radius:10px;
            margin-top: 10px;
         }

         .layerEight .bloco{
            display: block;
            justify-content: space-between;
        }
        
}